.header {
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(28,31,33,.1);
  .search-warp {
    float: right;
    width: 480px;
    height: 36px;
    background: #f3f5f6;
    border-radius: 8px;
    padding-right: 56px;
    margin: 12px 250px 12px 12px;
    box-sizing: border-box;
    position: relative;
    .search-area {
      width: 100%!important;
      height: 36px;
      background: #f3f5f6;
      font-size: 14px;
      color: #9199a1;
      padding: 0;
      margin: 0;
      border-radius: inherit;
      .search-input {
        width: 100%;
        height: 36px;
        line-height: 20px;
        padding: 8px 16px;
        font-size: 14px;
        color: #9199a1;
        background: #f3f5f6;
        border-radius: inherit;
        box-sizing: border-box;
        border: 0;
        outline:none;
      }
    }
    .showhide-search {
      position: absolute;
      right: 16px;
      top: 0;
      font-size: 20px;
      color: #9199a1;
      line-height: 24px;
      padding: 6px 16px;
      border-radius: 0;
      bottom: 24px;
      width: 20px;
      height: 24px;
      text-align: right;
      display: inline-block;
    }
  }
  .operate-area {
    position: absolute;
    right: 86px;
    top: 0;
    line-height: 60px;
    .article {
      display: inline-block;
      position: relative;
      float: left;
      .btn {
        width: 90px;
        height: 36px;
        line-height: 18px;
        padding: 8px 24px;
        margin: 12px 0;
        color: #fff;
        font-size: 14px;
        border-radius: 24px;
        box-sizing: border-box
      }
      .btn-blue {
        background: #37f;
      }
    }
    .user {
      float: right;
      margin-left: 20px;
      cursor: pointer;
      .avatar {
        img {
          border-radius: 100%;
          width: 36px;
          height: 36px;
          margin-top : 12px;
          vertical-align: top;
        }
      }
      .nickname {
        font-size: 14px;
        color: #666;
      }
      .iconfont {
        font-size: 12px;
      }
      .menu {
        margin: 11px 6px 0 10px;
        font-size: 15px;
        color: #969696;
        font-weight: 400;
      }
    }
  }
}

.footer {
  background: #1c1f21;
  border-top: 1px solid #e2e4e6;
  font-size: 12px;
  color: #787d82;
  padding: 40px 0;
  min-width: 620px;
  margin-top: 60px;
  position: relative;
  z-index: 999;
  .waper {
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    .followus {
      margin-right: 34px;
      padding-left: 30px;
      a {
        color: #5e5e5e;
        .iconfont {
          font-size: 40px;
        }
      }
    }
    .footer_intro {
      margin-bottom: 4px;
      line-height: 1.8;
      .footer_link {
        ul {
          overflow: hidden;
          margin-top: -1px;
          padding: 0;
          li {
            margin-right: 30px;
            text-align: center;
            float: left;
            a {
              color: #c8cdd2;
            }
          }
        }
      }
      p {
        line-height: 1.7;
      }
    }
  }
}
.article-wrapper {
  background: #fff;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(28,31,33,.1);
  .article-list {
    padding: 5px 0;
    .article {
      width: 100%;
      height: 80px;
      padding: 0 4px;
      box-sizing: border-box;
      margin-bottom: 0;
      background: #fff;
      box-shadow: unset;
      border-radius: 0;
      .imgCon {
        width: 50px;
        height: 50px;
        margin: 20px 16px 6px 16px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .list-content {
        width: 534px;
        padding-top: 10px;
        padding-bottom: 6px;
        border-bottom: 1px solid rgba(28,31,33,.1);
        overflow: hidden;
        &::after {
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
        }
        .title {
          p {
            font-weight: 700;
            margin-bottom: 4px;
            font-size: 16px;
            color: #1c1f21;
            line-height: 30px;
            word-break: keep-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .list-bottom {
          width: 100%;
          height: 24px;
          .labels-area {
            max-width: 460px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-top: 8px;
            .browseNum {
              margin-left: 18px;
              font-size: 12px;
              color: #9199a1;
              line-height: 18px;
              .item {
                float: left;
                margin-right: 12px;
                .iconfont {
                  font-size: 16px;
                }
              }
            }
            .nickName {
              margin-right: 16px;
              font-size: 13px;
              color: #000;
              font-weight: bold;
              cursor: pointer;
              padding-top: 2px;
            }
            .skill {
              white-space: nowrap;
              display: inline-block;
              span {
                font-size: 12px;
                display: inline-block;
                line-height: 18px;
                height: 18px;
                cursor: pointer;
                padding-left: 6px;
                padding-right: 6px;
              }
            }
          }
          .createTime {
            font-size: 12px;
            color: #9199a1;
            line-height: 18px;
            padding-top: 3px;
          }
        }
      }
    }
  }
}
.navigation {
  text-align: center;
  .pagination {
    .active {
      span {
        border-color: #37f;
        background-color: #37f;
        color: #fff;
      }
    }
    li {
      a {
        color: #37f;
      }
    }
  }
}
.btn-primary {
  background-color: #37f;
  border-color: #37f;
  color: #fff;
}
.btn-link {
  color: #37f;
}

a {
  color: #37f;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 0;
}

/*标签*/
span.style0{ color:#1874CD; border:1px solid #1874CD;}
span.style1{ color:#ffbea5; border:1px solid #ffbea5;}
span.style2{ color:#ea1616; border:1px solid #ea1616}
span.style3{ color:#e5a4ff; border:1px solid #e5a4ff}
span.style4{ color:#99cc33; border:1px solid #99cc33}
span.style5{ color:#99ccff; border:1px solid #99ccff}
span.style6{ color:#999999; border:1px solid #999999}
span.style7{ color:#ff99cc; border:1px solid #ff99cc}
span.style8{ color:#ff9999; border:1px solid #ff9999}
span.style9{ color:#b1b1ff; border:1px solid #b1b1ff}
span.style10{ color:#666666; border:1px solid #666666}
span.style11{ color:#0099ff; border:1px solid #0099ff}
span.style12{ color:#ff8a8a; border:1px solid #ff8a8a}
span.style13{ color:#68e2cb; border:1px solid #68e2cb}
span.style14{ color:#ffc082; border:1px solid #ffc082}
span.style15{ color:#333366; border:1px solid #333366}
span.style16{ color:#999966; border:1px solid #999966}
span.style17{ color:#99cccc; border:1px solid #99cccc}
span.style18{ color:#666699; border:1px solid #666699}
span.style19{ color:#cc6633; border:1px solid #cc6633}
span.style20{ color:#003399; border:1px solid #003399}
span.style21{ color:#336699; border:1px solid #336699}
span.style22{ color:#999933; border:1px solid #999933}
span.style23{ color:#663366; border:1px solid #663366}
span.style24{ color:#996699; border:1px solid #996699}
span.style25{ color:#669933; border:1px solid #669933}
span.style26{ color:#339999; border:1px solid #339999}
span.style27{ color:#ff9900; border:1px solid #ff9900}
span.style28{ color:#ff6666; border:1px solid #ff6666}
span.style29{ color:#666633; border:1px solid #666633}
span.style30{ color:#cc0033; border:1px solid #cc0033}