.main {
  padding-top: 24px;
  .left_menu {
    width: 104px;
    margin-right: 24px;
    text-align: center;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(28,31,33,.1);
    overflow: hidden;
    .m_item {
      width: 88px;
      line-height: 20px;
      border-radius: 6px;
      margin: 0 auto;
      box-sizing: border-box;
      padding: 8px 0;
      font-size: 14px;
      margin-bottom: 8px;
      &:hover {
        background: rgba(51,119,255,.1);
        font-weight: 700;
      }
      &.active {
        background: rgba(51,119,255,.1);
        font-weight: 700;
        a {
          color: #37f;
        }
      }
      &:first-child {
        margin-top: 8px;
      }
      a {
        display: inline-block;
        width: 74px;
        line-height: 20px;
        color: #1c1f21;
      }
    }
  }
  .centerlist {
    position: relative;
    width: 656px;
  }
  .right_personalization {
    width: 280px;
    .user-wrap {
      width: 100%;
      margin-top: 24px;
      .title {
        font-size: 17px;
        line-height: 24px;
        color: #1c1f21;
        position: relative;
      }
      .user-list {
        margin-top: 12px;
        .user {
          width: 100%;
          margin-bottom: 10px;
          border-bottom: 1px dotted #ccc;
          overflow: hidden;
          padding-bottom: 8px;
          &:last-child {
            border-bottom: 0px;
          }
          .info {
            margin: 2px;
            font-size: 14px;
            color: #666;
            line-height:20px;
            .avatar {
              float:left;
              margin-right:6px;
              img {
                width:40px;
                height:40px;
                border-radius: 50%;
              }
            }
            .nickname {
              color: #000;
              font-size: 15px;
              font-weight: bold;
            }
            .title {
              color: #000;
              font-size: 14px;
            }
          }
          .content {
            color: #666;
            margin-top: 10px;
            font-size: 14px;
            margin-left: 46px;
          }
          .time {
            margin-top: 2px;
            float: right;
            margin-right: 6px;
            font-size: 12px;
            color: #666;
          }
        }
      }
    }
  }
}


